<div class="container">
  <mat-toolbar style="background-color:indigo;">
      <span style="color:white; margin-bottom: 0px;">HOME</span>
      <span class="fill-remaining-space"></span>
      <span class="fill-remaining-space"></span>
      <span class="fill-remaining-space"></span>
      <span class="fill-remaining-space"></span>
      <span class="fill-remaining-space"></span>
      <span class="fill-remaining-space"></span>
      <span class="fill-remaining-space"></span>
      <span class="fill-remaining-space"></span>
      <span class="fill-remaining-space"></span>
      <span style="color:white; margin-bottom: 0px;">Register Login</span>
      <span class="fill-remaining-space"></span><br>
  </mat-toolbar>
  <div style="background-color:#c7c3c3; height:40px; font-size: 25px;">Registration</div>
  <app-employee></app-employee>
</div>
